.about {
  // padding-left: 555px;
  // padding-right: 375px;
  // padding-bottom: 110px;
  // padding: 0 25px;
  // max-width: 1220px;
  @include container-desktop-tight;
  padding-left: 205px;
  color: $dark-grey-text;
  position: relative;
  margin-bottom: 110px;

  h2 {
    margin: 0;
    font-family: $roboto-condensed;
    font-weight: normal;
    font-size: 36px;
    line-height: 51px;
    position: relative;

    &::before {
      content: "";
      position: absolute;
      width: 220px;
      height: 317px;
      left: -210px;
      background-image: url("../img/2005@1x.png");
    }
  }

  p {
    font-family: $pt-mono;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 22px;
    margin: 20px 0;
  }
}

.about__button {
  font-size: 14px;
  line-height: 20px;
  letter-spacing: 0.05em;
  color: $blue;
  border: 1px solid $blue;
  display: block;
  width: 180px;
  height: 45px;
  box-sizing: border-box;
  margin-top: 40px;
}
