.page-header {
  background-color: $dark-grey;
  color: $white;
  padding-left: 253px;
  padding-right: 256px;
  padding-top: 35px;
  padding-bottom: 30px;
  display: -ms-flex;
  display: flex;
  justify-content: space-between;
}

.page-header__logo {
  font-weight: bold;
  font-size: 25px;
  line-height: 29px;
  padding-left: 68px;
  position: relative;

  &::before {
    content: "";
    width: 52px;
    height: 52px;
    position: absolute;
    left: 0;
    top: -5px;
    background-image: url("../img/smart-device-logo.svg");
  }

  & span {
    font-family: $roboto;
    font-size: 12px;
    line-height: 14px;
    font-weight: 500;
    color: $grey;
    display: block;
  }
}

.page-header__contacts {
  display: -ms-flex;
  display: flex;
}

.page-header__contacts-list {
  font-family: $pt-mono;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 18px;
  display: -ms-flex;
  display: flex;
  justify-content: space-between;
}

.page-header__contacts-item {
  padding-left: 40px;
  position: relative;

  &::before {
    content: "";
    position: absolute;
    width: 20px;
    height: 20px;
    background-repeat: no-repeat;
    background-position: center;
  }

  &--mail {
    margin-left: 88px;

    &::before {
      left: 0;
      background-image: url("../img/phone-call.svg");
    }
  }

  &--phone::before {
    left: 0;
    background-image: url("../img/envelope.svg");
  }
}

.page-header__button {
  background-color: inherit;
  border: 1px solid $white;
  width: 180px;
  height: 45px;
  color: inherit;
  font-size: 14px;
  line-height: 16px;
  margin-left: 45px;
}
