.promo {
  background-color: $dark-grey;
  // padding-left: 249px;
  // padding-right: 177px;
  // padding-top: 200px;
  // padding-bottom: 278px;

  color: $white;
  position: relative;
  overflow: hidden;

  &__wrapper {
    // padding: 200px 25px 278px 25px;
    // max-width: 1461px;
    // width: 100%;
    @include container-desktop-wide;
    padding-top: 200px;
    padding-bottom: 278px;

    position: relative;

    // &::after {
    //   content: "";
    //   position: absolute;
    //   width: 705px;
    //   height: 515px;
    //   z-index: 1;
    //   right: -100%;
    //   top: -60px;
    //   background-image: url("../img/chip@1x.png");
    // }
  }

  h2 {
    margin: 0;
    font-size: 80px;
    line-height: 94px;
    letter-spacing: 0.07em;
    text-transform: uppercase;
  }

  p {
    font-family: $pt-mono;
    font-style: normal;
    font-weight: 400;
    font-size: 22px;
    line-height: 34px;
    padding-left: 92px;
    box-sizing: inherit;
    //width: 683px; //временно
    position: relative;
    margin-top: 25px;
    margin-bottom: 45px;
    display: block;
    width: 55%;
  }

  p::before {
    content: "";
    position: absolute;
    width: 66px;
    height: 2px;
    background-color: $white;
    left: 0;
    top: 15px;
  }
}

.promo__button {
  height: 55px;
  background-color: $blue;
  font-size: 16px;
  line-height: 19px;
  letter-spacing: 0.05em;
  width: 407px; // временно
  margin-left: 92px;
}

.promo__image {
  position: absolute;
  width: 50%;
  left: 100%;
  margin-left: -46%;
  top: 140px;
}
