//используемые цвета
$dark-grey: #1b2d37;
$white: #ffffff;
$grey: #788891;
$blue: #00b2ff;
$light-blue: #19baff;
$light-grey: #ebebeb;
$dark-grey-text: #666666;
$black-background: #1b2d37;


//шрифты
$roboto: "Roboto", "Arial", sans-serif;
$roboto-condensed: "Roboto Condensed", "Arial", sans-serif;
$pt-mono: "PT Mono", "Arial", serif;
